        body {
            background-color: #3F403C;
            font-family: 'Dosis', sans-serif;
            font-size: 37px;
            text-align: center;
            padding-top: 150px;

        }

        .dropbtn {
            font: inherit;
            color: #D9AE5F;
            background-color: #3370A6;
            border: solid 10px #D0D9D0;
            padding: 50px 10px;
            margin: 0px 15px;
            width: 190px;
            height: 170px;
            display: inline-block;
            text-align: center;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #3370A6;
            width: 190px;
            height: 170px;
            margin: -170px 15px;
        }

        .dropdown-content a {
            color: #D9AE5F;
            font: inherit;
            padding: 5px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #D0D9D0;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .cm {
            color: #D9AE5F;
            background-color: #3370A6;
            border: solid 10px #D0D9D0;
            padding: 50px 10px;
            margin: 0px 15px;
            width: 150px;
            height: 50px;
            display: inline-block;
            text-align: center;
        }

        .cm:hover {
            background-color: #D0D9D0;

        }